.logo-title {
  color: #272727;
  font-family: "Ubuntu", sans-serif;
  font-weight: Bold;
}

.nav-item {
  font-family: "Ubuntu", sans-serif;
  font-weight: Medium;
  font-size: 1.2rem;
}

.btn-contact {
  background-color: #E0AF49;
  color: white;
}
