.logo-title {
  color: #272727;
  font-family: "Ubuntu", sans-serif;
  font-weight: Bold;
}

.nav-item {
  font-family: "Ubuntu", sans-serif;
  font-weight: Medium;
  font-size: 1.4rem;
}

.home-nav {
  color: #212529;
}

.home-nav:hover {
  color: #867dd9;
}

.btn-contact {
  background-color: #867dd9;
  color: white;
}
