.homepage-sec {
  background-color: #efeef7;
  /* height: 30rem; */
}

.heading-content {
  /* background-color: aqua; */
  margin-top: 5rem;
  padding-top: 2rem;
}

.heading-content h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
  font-weight: Bold;
  text-align: left;
}

.heading-content p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.3em;
  text-align: left;
  width: 35rem;
}
.msg-intro {
  color: #89523d;
}

.btn-register {
  background-color: #867dd9;
  border-color: #867dd9;
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  width: 10rem;
}

.btn-register:hover {
  background-color: #867dd9;
}

.btn-link {
  text-decoration: none;
  color: #2b2623;
}

.btn-link :hover {
  color: black;
}

.btn-login {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  color: #392921;
  width: 10rem;
  margin-left: 1rem;
  text-decoration: none;
}

.dog-container {
  padding-bottom: 10rem;
}

.dog-pic {
  position: relative;
  bottom: 4rem;
}

/* 415 lower */
@media only screen and (max-width: 415px) {
  .heading-content h1 {
    font-size: 3rem;
  }

  .heading-content p {
    font-size: 1.5em;
    width: fit-content;
    margin-right: 2rem;
  }

  .dog-pic {
    width: 20rem;
    height: 25rem;
    margin-top: 5rem;
    margin-left: 1rem;
  }
}

@media only screen and (min-width: 700px) {
  .dog-pic {
    width: 35rem;
    height: 30rem;
    margin-top: 5rem;
  }
}
