.homepage-sec{
  background-color: #928CCA;
}

.heading-content {
  /* background-color: aqua; */
  margin-top: 5rem;
  padding-top: 2rem;
}

.heading-content h1 {
  font-family: "Ubuntu", sans-serif;
  font-size: 3.5rem;
  font-weight: Bold;
  
}

.heading-content p {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.3em;
  width: 35rem;
}

.btn-register {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  background-color: #E0AF49;
  width: 10rem;
  border-color: #e48d3d;
}

.btn-register:hover {
  background-color: #e0b049d1;
  border-color: #f59c48;
}

.btn-link {
  text-decoration: none;
  color:#2B2623;
}

.btn-link :hover {
  color: black;
}

.btn-login {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.5rem;
  color: #392921;
  width: 10rem;
  margin-left: 1rem;
  text-decoration: none;
}

.dog-container {
  padding-bottom: 10rem;
}


/* 415 lower */
@media only screen and (max-width: 415px) {
  .heading-content h1 {
    font-size: 3rem;
  }

  .heading-content p {
    font-size: 1.5em;
    width: fit-content;
    margin-right: 2rem;
  }

  .dog-pic {
    width: 20rem;
    height: 25rem;
    margin-top: 5rem;
    margin-left: 1rem;
  }
}

@media only screen and (min-width: 700px) {
  .dog-pic {
    width: 35rem;
    height: 30rem;
    margin-top: 5rem;
  }
}
